.job-title {
    font-size: 120%;
    font-weight: 600;
    color: grey;
    margin-bottom: 0;
}

.job-role {
}

.job-role-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.job-role-title {
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.job {
    padding-left: 15px;
    border-left: 2px solid #BADA55;
}
