.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
}

.weather-description {
  flex: 1 1 content;
}

.weather-icon {
  flex: 1 1;
}

.weather-image {
  height: 100%;
}
