/* Text formatting */
a:link {
  text-decoration: none;
}

.green {
  color: #94ae44;
}

.dark-green {
  color: #4a5722;
}

.trebut {
  font: "Trebuchet MS", Georgia, serif;
}

.mono {
  font-family: "Roboto Mono", monospace, sans-serif;
  line-height: 130%;
}

.arial {
  font: "Arial Narrow", Arial, Helvetica, sans-serif;
}

.small-text {
  font-size: 80%;
}

/* end text formatting */

body {
  position: relative;
  padding-top: 40px;
}

div {
  margin: 0;
}

.printable,
.printable-webkit,
.printable-moz {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
  word-wrap: normal;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.title {
  font-size: 75px;
  font-weight: bold;
  padding-top: 0;
  text-align: left;
}

.cards-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-flow: row wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex: 1 1;
  margin: 30px;
  min-width: 270px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
  padding: 2px 16px;
}

@media only screen and (max-device-width: 615px) {
  .name {
    display: none;
  }
  .content {
    align-items: center;
  }
}

@media print {
  .content {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  .arial, .mono {
    font-size: 10pt;
  }

  .print-break {
      page-break-before: always;
  }

  p {
    page-break-before: avoid;
    page-break-inside: avoid;
  }

  li {
    page-break-inside: avoid;
  }

  h5,
  h4,
  h3,
  h2 {
    page-break-after: avoid;
    page-break-inside: avoid;
    margin-bottom: 1px;
  }
}
