.about {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.about-image {
    flex: 1 0;
    margin: 10px;
    min-width: 290px;
}

.oysters {
    width: 95%;
    height: auto;
}

.about-text {
    flex: 2 1;
    min-width: 290px;
}