.contact {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}
.contact a {
  margin-left: 2px;
  color: black;
  background-color: transparent;
  white-space: nowrap;
}

.section-title {
  font-size: 100%;
  font-weight: bold;
  padding: 5px 0;
  text-transform: uppercase;
}

.section-header {
  flex: 100%;
}

.section {
  border-bottom: solid black 1pt;
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (max-device-width: 600px) {
  .resume {
    width: 95%;
  }
}

@media print {
  .section {
    font-size: 10pt;
  }

  .title,
  .job-title {
    font-size: 22pt;
    margin: 0;
    padding: 0;
  }

  .job {
    font-size: 12pt;
  }

  .name {
    display: flex;
  }

  section {
    margin: 0;
  }
}
